:root {
    --primary-color: #13A10E;
    --background-color: #0C0C0C;
}

@font-face {
    font-family: "clacon2";
    src: url('../fonts/clacon2.ttf')
}


* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #13A10E;
    font-family: 'clacon2';
    font-weight: 700;
}

body {
    background: var(--background-color);
    display: flex;
    height: 100vh;
}

main {
    width: 70%;
    height: 100%;
    display: flex;
}

main #terminal {
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--primary-color);
    flex: 1;
    max-width: 100%;
}

main #terminal #history {
    width: 100%;
    flex: 1;
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

main #terminal #history #inner-history * {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: wrap;
}

main #terminal #history #inner-history .msg {
    white-space: preserve-spaces;
}

main #terminal #prompt {
    display: flex;
    outline: 1px solid var(--primary-color);
    align-items: center;
    max-width: 100%;
}

main #terminal #prompt #PS1 {
    margin: 5px 10px 5px 5px;
    white-space: nowrap;
}

main #terminal #prompt #prompt-input {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: preserve;
}


@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

#prompt-input::after {
    content: '';
    width: 5px;
    height: 0.8em;
    background: var(--primary-color);
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

aside {
    width: 30%;
    height: 100%;
}

aside div {
    outline: 1px solid var(--primary-color);
}

aside #portals {
    height: 50%;
    width: 100%;
}


aside #users {
    height: 50%;
    width: 100%;
}

h1 {
    padding: 1em;
}

ul {
    margin-left: 2em;
}

.scrollable {
    overflow: scroll;
    scrollbar-color: var(--primary-color) var(--background-color);
}
