<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', path = 'styles/styles.css') }}" />
  <script src="{{ url_for('static', path = 'scripts/terminal.js') }}" defer></script>
  <script src="{{ url_for('static', path = 'scripts/htmx.js') }}" defer></script>
  <script src="{{ url_for('static', path = 'scripts/htmx-ws.js') }}" defer></script>
</head>

<body>
  <main>
    <div id="terminal">
      <div id="history" class="scrollable">
        <div id="innerHistory">
          <div>
            <p>Bienvenue sur le serveur !!</p>
            <p>
              Connectez vous en tapant: 
              login &lt;username&gt; &lt;mot de passe&gt;
            </p>
            <p>
              Créez un compte en tapant: register &lt;username&gt;
              &lt;mot de passe&gt; &lt;confirmation&gt;
            </p>
          </div>
        </div>
      </div>
      <div id="prompt">
        <span id="PS1">$</span>
        <pre id="prompt-input"></pre>
        <span class="cursor"></span>
        <form id="login-form" method="POST" action="/login" hx-boost="true" hx-target="#login-form" hx-swap="none"
          hx-push-url="false">
          <input id="hidden-cmd" hidden name="cmd">
        </form>
      </div>
    </div>
  </main>
  <aside>
    <div id="portals" class="scrollable">
      <h1>In no portal</h1>
    </div>
    <div id="users" class="scrollable"></div>
  </aside>
</body>

</html>
